{{#partial "title"}}Home Page{{/partial}}


{{#partial "content"}}
<div class="intro">
<h1 class="mb-0">Hair
    <span class="text-primary">Masters</span>
    </h1>
    <hr>
    <p>This application generally manages the basic operations of a hair salon. The owner should be able to add a list of the stylists, and for each stylist, add clients who see that stylist. The stylists work independently, so each client only belongs to a single stylist and the clients fcan check the availability of the Stylists and book schedules in advance.</p>
    <small><a href="/stylists">View Stylists</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/bookings">Check Stylists Availability &amp; Bookings</a></small>
</div>

{{/partial}}

{{> layout.hbs}}