{{#partial "title"}}Stylists Page{{/partial}}


{{#partial "content"}}
<div class="stylists">
	<h1 class="mb-0"><span class="text-primary">Stylists</span></h1>
    <small><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;Go Back Home</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/bookings"><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;Check Stylists Availability</a></small>
	<hr>
	<div class="stylist-list mb40"> 
		<div>
			<h3>Samora, Yommie <small>(Weaving)</small></h3>
			<small>Age: <span class="text-primary">28 yrs</span> | Phone: <span class="text-primary">0711230923</span><!--  | No. of Clients: <span class="text-primary">5</span> --></small><br>
			<small><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;View Clients</a>&nbsp;&nbsp;&nbsp;&nbsp;</small>			
		</div>	
	</div>
</div>


{{/partial}}

{{> layout.hbs}}